// PermanentDrawerLeft.scss
.breadcrumbs-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1976d2;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
}

.Navigation-tab {
  &:hover {
    background-color: antiquewhite;
  }
}

.Navigation-tab div div span {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 16px;
}

.User-profile {
  margin-left: 85%;
}
.css-hyum1k-MuiToolbar-root {
  background-color: #282c34 !important;
}

@media (min-width: 600px) {
  .breadcrumbs-button {
    display: none;
  }
}
.Drawer {
  background-color: burlywood !important;
  .logo {
    background-image: url("../Images/my-logo.png");
    background-size: cover;
    width: 50px;
    height: 35px;
    border-radius: 30px;
  }
  .lg-name {
    font-weight: 800;
    margin-left: 25px;
  }
}

.css-hyum1k-MuiToolbar-root {
  min-height: 60px !important;
}
