.MuiDialog-paper {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(147,160,185), 0 6px 20px 0 rgba(147,160,185);
}

.MuiDialogTitle-root {
  background-color: #93b0b9;
  font-family: emoji !important;
  padding: 16px;
  display: flex;
  font-weight: 800 !important;
  align-items: center;
}

.MuiDialogTitle-root h2 {
  margin: 0;
  color: #333;
  margin-left: 16px;
}

.MuiDialogContent-root {
  padding: 24px;
}

.MuiDialogActions-root {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.Close-Icon {
    background: url('https://w7.pngwing.com/pngs/895/550/png-transparent-black-and-white-logo-computer-icons-symbol-free-of-close-button-icon-miscellaneous-trademark-sign-thumbnail.png') !important;
    background-size: cover !important;
    color: #000 !important;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -38px;
    left: 90%;
}
