.bookings-main {
  width: 88%;
  float: right;
  h1 {
    background: bisque;
    width: 30%;
    font-family: emoji;
    margin-top: 21px;
    margin-left: 2%;
    border-radius: 15px;
    margin-bottom: 18px;
    /* border-top-right-radius: 15px; */
    box-shadow: 0 4px 8px 0 rgba(121, 121, 121, 0.2), 0 6px 20px 0 rgba(255, 117, 0, 0.5);
  }
}
.page-main {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-top: 25px;
  .user-detiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    border: 1px solid;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
    .tags {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.svg-bg-bk {
  background-image: url("../Images/booking-confirmed-icon.svg");
  background-size: cover;
  width: 26px;
  height: 26px;
}
.svg-bg {
  background-image: url("../Images/verified-symbol-icon.svg");
  background-size: cover;
  width: 26px;
  height: 26px;
}
.svg-bg-cl {
  background-image: url("../Images/close-red-icon.svg");
  background-size: cover;
  width: 26px;
  height: 26px;
}
.css-og52vs-MuiTableCell-root.MuiTableCell-head {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: 800 !important;
}
