.bg-3 {
  background-image: url("../Images/bg-3.jpg");
  width: 100%;
  background-size: cover;
  height: 885px;
}

.Profile {
  margin-top: 50px;
  margin-left: 60px;
  width: 30%;
  top: 25%;
  position: relative;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
  .logo {
    border-radius: 24px;
    height: 118px;
    width: 115px;
    border: 1px solid #f0f0f0;
  }
  .userData {
    background: antiquewhite;
    border-bottom-right-radius: 55px;
    height: 113px;
    width: 65%;
    color: #000;
    margin-left: 22px;
  }
}

.bookings-rewards {
  width: 30%;
  display: flex;
  height: 47px;
  border-radius: 24px;
  align-items: center;
  border: 1px solid #fff;
  justify-content: space-around;
  position: relative;
  top: -10%;
  margin-top: 21px;
  color: #000;
  margin-left: 55px;
  background: antiquewhite;
  .coins {
    background-image: url("../Images/coin.svg");
    width: 33px;
    height: 30px;
    background-size: cover;
  }
  .voucher {
    background-image: url("../Images/voucher-coupon-svgrepo-com.svg");
    width: 33px;
    height: 30px;
    background-size: cover;
  }
  .bike-table {
    position: relative;
    width: 40% !important;
    top: 20%;
    left: 1%;
  }
}
