.bg-3 {
  background-image: url("../Images/bg-3.jpg");
  width: 100%;
  background-size: cover;
  height: 885px;
}

.container-deletaion {
  background-image: url("../Images/delete-1.gif");
  background-size: cover;
  width: 100%;
  height: 500px;
}

.Pro-bg {
  width: 100%;
  height: 295px;
  background-color: antiquewhite;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .main-box {
    width: 78%;
    height: 350px;
    background-color: #c76666;
    position: absolute;
    left: 16%;
    top: 15%;
  }
  .profile-bg {
    background: #c56565;
    width: 40%;
    height: 350px;
    .profile {
      background-color: #fff;
      width: 160px;
      height: 150px;
      border-radius: 60%;
      position: absolute;
      top: 10%;
      left: 5%;
      .loader-bg {
        position: absolute;
        top: 55px;
        left: 55px;
      }
    }
    .userName {
      font-size: 21px;
      left: 5%;
      position: absolute;
      top: 55%;
    }
    .upload {
      height: 33px;
      border-radius: 20px;
      width: 35px;
      border: none;
      position: absolute;
      left: 12%;
      top: 40%;
    }
  }
  .settings {
    top: 5%;
    cursor: pointer;
    width: 40px;
    height: 35px;
    position: absolute;
    border-radius: 25px;
    left: 96%;
    background: antiquewhite;
    border: none;
  }
}

.Profile {
  margin-top: 50px;
  margin-left: 60px;
  width: 30%;
  top: 25%;
  position: relative;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
  .profile img {
    width: 164px;
    border-radius: 46%;
  }
  .logo {
    border-radius: 24px;
    height: 118px;
    width: 115px;
    border: 1px solid #f0f0f0;
  }
  .userData {
    background: antiquewhite;
    border-bottom-right-radius: 55px;
    height: 113px;
    width: 65%;
    color: #000;
    margin-left: 22px;
  }
}

.bookings-rewards {
  width: 30%;
  display: flex;
  height: 47px;
  border-radius: 24px;
  align-items: center;
  border: 1px solid #fff;
  justify-content: space-around;
  position: relative;
  top: -10%;
  left: 10%;
  margin-top: 21px;
  color: #000;
  margin-left: 55px;
  background: antiquewhite;
  .coins {
    background-image: url("../Images/coin.svg");
    width: 33px;
    height: 30px;
    background-size: cover;
  }
  .voucher {
    background-image: url("../Images/voucher-coupon-svgrepo-com.svg");
    width: 33px;
    height: 30px;
    background-size: cover;
  }
  .bike-table {
    position: relative;
    width: 40% !important;
    top: 20%;
    left: 1%;
  }
}

.css-20nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  background: transparent !important;
}

.carousel {
  position: relative;
  width: 95%;
  margin-left: 3%;
  margin-top: 3%;
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 38px;
    border-radius: 27px;
    background: brown;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .slider-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .card {
      flex: 0 0 calc(100% / 3);
      margin: 0 25px;
      background: #f0f0f0;
      padding: 20px;
      transition: transform 0.5s ease;
      .card-media {
        background: url("https://www.forbes.com/advisor/wp-content/uploads/2023/01/Gift.png");
        background-size: cover;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.noBookigs {
  background-image: url("../Images//booking-2.gif");
  background-size: cover;
  width: 580px;
  height: 400px;
  margin-top: 30px;
  margin-left: 2%;
}
