* {
  margin: 0;
  padding: 0;
}
.main-signup {
  width: 100%;
  height: 885px;
  display: flex;
  background-color: #000;
  .sig-bg {
    width: 100%;
    height: 885px;
    background-size: cover;
    background-image: url("../Images/hero-3.jpg");
    display: flex;
    align-items: center;
    justify-content: start;
    p {
      width: 90%;
      font-family: auto;
      font-size: 17px;
      margin-left: 70px;
      color: #000;
      background-color: #fff;
      padding: 10px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
  }
  .sig-form {
    width: 40%;
    height: 885px;
    background-color: #15302b;
    .form-side {
      margin-top: 30%;
    }
    h2 {
      color: #000;
      font-family: auto;
      font-size: 40px;
      margin-bottom: 5%;
      background-color: #fff;
      width: 80%;
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
    }
    .reg-group {
      display: flex;
      margin-bottom: 5%;
      .reg-label {
        width: 40%;
        color: #fff;
        font-size: 18px;
        font-family: auto;
      }
      .form-control {
        border-radius: 8px;
        padding: 7px;
        width: 350px;
        height: 35px;
        margin-right: 30px;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
      }
    }
    .reg-btn button {
      width: 60%;
      height: 35px;
      margin-bottom: 7px;
      margin-left: 15%;
      border-radius: 10px;
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    .end-para p {
      color: #fff;
      font-size: 18px;
      margin-left: 15%;
      width: 80%;
    }
  }
}
